<p class="font-bold text-slate-700 mt-5 text-xl">Досвід</p>
<div>
	<p class="mt-5 font-semibold">Системний адміністратор</p>
	<p class="flex items-center justify-between mt-1">
		<span class="mt-1 font-semibold">Укртелеком</span>
		<span class="mt-1 font-semibold text-slate-700 text-xs">09.2015 - 06.2017</span>
	</p>
	<ul class="list-disc pl-3 mt-1">
		<li>
			Налаштування та встановлення програмного забезпечення
		</li>
		<li>
			Встановлення та налаштування мережевого обладнання:
		</li>
		<li>
			Діагностував проблеми з комп’ютерами та мережевим обладнанням, виконував ремонт або координував виклик спеціалістів, коли це було необхідно.
		</li>
		<li>
			Регулярно оновлював операційні системи та програмне забезпечення на комп’ютерах співробітників і забезпечував їх безпеку, встановлюючи антивірусні програми та оновлення безпеки.
		</li>
		<li>
			Навчання користувачів роботі з CRM-системою «ПАРУС» для ведення складського обліку.
		</li>
	</ul>

</div>

<div>
	<p class="mt-5 font-semibold">Водій</p>
	<p class="flex items-center justify-between mt-1">
		<span class="mt-1 font-semibold">Tobix sp.zoo</span>
		<span class="mt-1 font-semibold text-slate-700 text-xs">09.2019 - 12.2022</span>
	</p>
	<ul class="list-disc pl-3 mt-1">
	<li>
			Перевезення вантажів по визначених маршрутах
		</li>
		<li>
			Забезпечення безпечного транспортування та своєчасної доставки вантажів
		</li>
		<li>
			Здійснення завантаження та розвантаження товарів при необхідності
		</li>
		<li>
			Контроль за технічним станом транспортного засобу та його своєчасне обслуговування
		</li>
		<li>
			Ведення документації з перевезення вантажів, включаючи товаро-транспортні накладні
		</li>
	</ul>

</div>



<div>
	<p class="mt-5 font-semibold">Водій</p>
	<p class="flex items-center justify-between mt-1">
		<span class="mt-1 font-semibold">Tobix sp.zoo</span>
		<span class="mt-1 font-semibold text-slate-700 text-xs">09.2019 - 12.2022</span>
	</p>
	<ul class="list-disc pl-3 mt-1">
	<li>
			Перевезення вантажів по визначених маршрутах
		</li>
		<li>
			Забезпечення безпечного транспортування та своєчасної доставки вантажів
		</li>
		<li>
			Здійснення завантаження та розвантаження товарів при необхідності
		</li>
		<li>
			Контроль за технічним станом транспортного засобу та його своєчасне обслуговування
		</li>
		<li>
			Ведення документації з перевезення вантажів, включаючи товаро-транспортні накладні
		</li>
	</ul>

</div>

<div>
	<p class="mt-5 font-semibold">Full-stack розробник (Laravel, Next.js)</p>
	<p class="flex items-center justify-between mt-1">
		<span class="mt-1 font-semibold">Blossom Startup</span>
		<span class="mt-1 font-semibold text-slate-700 text-xs">05.2024-09.2024</span>
	</p>
	<ul class="list-disc pl-3 mt-1">
		<li>
			Розробка та підтримка функціоналу бекенду на Laravel для керування оголошеннями.
		</li>
		<li>
			Інтеграція API для взаємодії з базою даних оголошень та забезпечення динамічного контенту.
		</li>
		<li>
			Розробка інтерфейсу користувача за допомогою Next.js для зручного перегляду оголошень.
		</li>
		<li>
			Оптимізація швидкості завантаження сторінок та обробки запитів на сервері.
		</li>
		<li>
			Забезпечення безпеки даних користувачів та відповідність проекту вимогам GDPR.
		</li>
	</ul>
</div>