<h2 class="font-semibold text-xl mt-2">Особисті дані</h2>
<p class="bg-white mt-2 h-[2px]"></p>


<div class="text-sm my-5">
	<h3 class="font-semibold mt-3">Ім'я</h3>
	<p class="text-sm">Владислав Гончар</p>
	<h3 class="font-semibold mt-3">Адреса</h3>
	<p>вул.Радянська</p>
	<p>51200 м.Новомосковськ</p>
	<h3 class="font-semibold mt-3">Номер телефону</h3>
	<a href="tel:+380683570017">+38-(068)-357-00-17</a>
	<p class="font-semibold mt-2">Telegram:</p>
	<p>@vlad_wo_rk</p>
</div>

<h2 class="font-semibold text-xl mt-2">Мови</h2>
<p class="bg-white mt-2 h-[2px]"></p>

<div class="text-sm my-5">
	<p>Українська: Рідна мова</p>
	<p>Польський: Розмовний</p>
	<p>Англійська: Технічна</p>
</div>

<h2 class="font-semibold text-xl mt-2">Особисті якості</h2>
<p class="bg-white mt-2 h-[2px]"></p>

<div class="text-sm my-5">
	<p>Відповідальність</p>
	<p>Вміння вирішувати проблеми</p>
	<p>Комунікація</p>
	<p>Організованість</p>
	<p>Увага до деталей</p>
	<p>Робота в команді</p>
	<p>Здатність адаптуватися</p>
</div>