

<p class="font-bold text-slate-700 mt-5 text-xl">Технології</p>
<div class="h-[2px] mt-5 w-full bg-gray-500/20"></div>

<div class="flex gap-5 flex-wrap mt-5">
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/reactrouter/reactrouter-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redux/redux-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redis/redis-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gulp/gulp-plain.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/webpack/webpack-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apache/apache-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nginx/nginx-original.svg"
		width="40"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/composer/composer-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/npm/npm-original-wordmark.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/yarn/yarn-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"
		width="25"
/>
<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/phpstorm/phpstorm-original.svg"
		width="25"
/>
</div>
<div class="h-[2px] mt-5 w-full bg-gray-500/20"></div>